# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course:
-Python
-SQL
-Java
-Scala
-R Language

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL (Structured Query Language)

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Matplotlib

| Data Science Tools |
|--------------------|
|    Apache Spark    |
|     TenserFlow     |
|    Apache Hadoop   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 # This a simple arithmetic expression to mutiply then add integers
 (3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
min=200
hrs=min/60
print("200 minutes to hours = ",hrs)

200 minutes to hours =  3.3333333333333335

## Author
Mohammed Safiuddin